/**
 * -------------------------------------------------
 * TABLE OF CONTENTS:
 *
 * 1.0 RESET
 * 2.0 IMPORTS
 * 3.0 MIXINS
 * 4.0 VARIABLES
 * 5.0 EFFECTS
 * 6.0 GLOBALS
 * 7.0 HEADER
 *   7.1 Navigation
 * 8.0 CONTENT
 *  8.1 Landing
 * 9.0 FOOTER
 * 10.0 META
 * --------------------------------------------------
*/

/**
 * 1.0 $RESET
 * -----------------------------------------------------------------------------
 */

@import "reset";

/**
 * 2.0 $IMPORTS
 * -----------------------------------------------------------------------------
 */

@import "compass/css3";

/**
 * 3.0 $MIXINS
 * -----------------------------------------------------------------------------
 */

.chinese-font {
  font-family: arial, 黑体, 微软雅黑, 宋体, sans-serif;
}

.heading-font {
  font-family: 'Old Standard TT', serif;
}

/**
 * 4.0 $VARIABLES
 * -----------------------------------------------------------------------------
 */

$jade: #012623;

$gold: #CBA135;

$qinGold: #AB9D00;

$rocRed: #BC0A0A;
$rocBlue: #0A0A72;
$rocGray: #BCBCBC;

$nipponRed: #8F0A24;

$prcRed: #A52715;
$prcYellow: #BCA50A;

/**
 * 5.0 $EFFECTS
 * -----------------------------------------------------------------------------
 */

.scroll-down {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 4rem;
  padding: 1rem;
  color: #FFF;
  font-size: 2rem;
  line-height: 1;
  border: 0.2rem solid #FFF;
  @include border-radius(50%);
}


/**
 * 6.0 $GLOBALS
 * -----------------------------------------------------------------------------
 */


.globals {
  height: 100%;
}

.grid {
  position: relative;
  height: 100%;
  min-height: 100%;
}

.content {
  position: relative;
}

.heading-title {
  text-align: center;
}

/**
 * 7.0 $HEADER
 * -----------------------------------------------------------------------------
 */

.timeline-container {
  position:fixed;
  top: 0;
  right: -25rem;
  overflow-y: auto;
  width: 25rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  direction: rtl;
  z-index: 9999;
  font-size: 1.2rem;
  a {
    color: #FFF;
  }
  .timeline-content {
    direction: ltr;
  }
}

#timeline-open {
  display: block;
  position: fixed;
  top: 2rem;
  right: 2rem;
  padding: 1rem;
  background-color: #000;
  @include border-radius(0.2rem);
  z-index: 10;
  @include transition(all 150ms ease 0s);
  &:hover {
    background-color: $gold;
  }
}

#timeline-close {
  display: inline-block;
  font-size: 2.5rem;
  line-height: 4rem;
  background-color: red;
  color: white;
  width: 4rem;
  height: 4rem;
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
}

.bar-icon {
  height: 3px;
  width: 20px;
  margin-top: 4px;
  background: #FFF;
  display: block;

}

.bar-icon:first-of-type {
  margin-top: 0;
}

#timeline {
  .timeline-titles {
    padding: 0.5rem 1rem;
    color: #FFF;
  }
  .timeline-links {
    @include transition(all 150ms ease 0s);
    &:hover {
      background-color: red;
    }
    a {
      display: block;
      padding: 1rem;
    }
  }
}


/**
 * 8.0 $CONTENT
 * -----------------------------------------------------------------------------
 */

/**
 * 8.1 $LANDING
 * -----------------------------------------------------------------------------
 */

.landing-container {
  background: $jade url('../img/han_watchtower_dunhuang.jpg') no-repeat center center fixed;
  @include background-size(cover);

}



.landing-title-container {

  text-align: center;

  h1 {
    color: #FFF;
    line-height: 1;
  }

  .landing-logo {
    font-size: 30rem;
  }
  .landing-title {
    font-size: 4rem;

  }
}

.confucius-container {
  background-color: #7E4D55;
}

.qin-container {
  background-color: #111;
}

.qin-title {
  color: $gold;
}


.roc-container {
  background-color: $rocRed;
}


.nippon-container {
  background-color: #FFF;
}

.prc-container {
  background-color: $prcRed;
}

.prc-title {
  color: $prcYellow;
}

/**
 * 9.0 $FOOTER
 * -----------------------------------------------------------------------------
 */



/**
 * 10.0 $META
 * -----------------------------------------------------------------------------
 */
