/**
 * -------------------------------------------------
 * TABLE OF CONTENTS:
 *
 * 1.0 RESET
 * 2.0 IMPORTS
 * 3.0 MIXINS
 * 4.0 VARIABLES
 * 5.0 EFFECTS
 * 6.0 GLOBALS
 * 7.0 HEADER
 *   7.1 Navigation
 * 8.0 CONTENT
 *  8.1 Landing
 * 9.0 FOOTER
 * 10.0 META
 * --------------------------------------------------
*/

/**
 * 1.0 $RESET
 * -----------------------------------------------------------------------------
 */

@import "reset";

/**
 * 2.0 $IMPORTS
 * -----------------------------------------------------------------------------
 */

@import "compass/css3";

/**
 * 3.0 $MIXINS
 * -----------------------------------------------------------------------------
 */

.chinese-font {
  font-family: arial, 黑体, 微软雅黑, 宋体, sans-serif;
}

.heading-font {
  font-family: 'Old Standard TT', serif;
}

/**
 * 4.0 $VARIABLES
 * -----------------------------------------------------------------------------
 */

$jade: #012623;

$gold: #CBA135;

$qinGold: #AB9D00;

$rocRed: #BC0A0A;
$rocBlue: #0A0A72;
$rocGray: #BCBCBC;

$nipponRed: #8F0A24;

$prcRed: #A52715;
$prcYellow: #BCA50A;

/**
 * 5.0 $EFFECTS
 * -----------------------------------------------------------------------------
 */

.scroll-down {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 4rem;
  padding: 1rem;
  color: #FFF;
  font-size: 2rem;
  line-height: 1;
  border: 0.2rem solid #FFF;
  @include border-radius(50%);
}


/**
 * 6.0 $GLOBALS
 * -----------------------------------------------------------------------------
 */


.globals {
  height: 100%;
}

.grid {
  position: relative;
  height: 100%;
  min-height: 100%;
}

.content {
  position: relative;
}

/**
 * 7.0 $HEADER
 * -----------------------------------------------------------------------------
 */

.timeline-container {
  position:fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  width: 30rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  direction: rtl;
  z-index: 9999;
  a {
    color: #FFF;
  }
  .timeline-content {
    direction: ltr;
  }
}

#timeline-toggle {
  display: block;
  position: fixed;
  top: 2rem;
  right: 2rem;
  padding: 1rem;

  @include border-radius(0.2rem);
  z-index: 10;
}

.bar-icon {
height: 3px;
width: 20px;
margin-top: 4px;
background: #FFF;
display: block;
opacity: 1;
-webkit-transition: -webkit-transform 0.15s linear;
-moz-transition: -webkit-transform 0.15s linear;
-ms-transition: -webkit-transform 0.15s linear;
-o-transition: -webkit-transform 0.15s linear;
transition: transform 0.15s linear;
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}

.active .bar-icon:nth-child(1) {
-webkit-transform: rotate(45deg) translate3d(5px, 5px, 0);
-moz-transform: rotate(45deg) translate3d(5px, 5px, 0);
-ms-transform: rotate(45deg) translate3d(5px, 5px, 0);
-o-transform: rotate(45deg) translate3d(5px, 5px, 0);
transform: rotate(45deg) translate3d(5px, 5px, 0);
}

.active .bar-icon:nth-child(2) {
opacity: 0;
}

.active .bar-icon:nth-child(3) {
-webkit-transform: rotate(-45deg) translate3d(5px, -5px, 0);
-moz-transform: rotate(-45deg) translate3d(5px, -5px, 0);
-ms-transform: rotate(-45deg) translate3d(5px, -5px, 0);
-o-transform: rotate(-45deg) translate3d(5px, -5px, 0);
transform: rotate(-45deg) translate3d(5px, -5px, 0);
}

/**
 * 8.0 $CONTENT
 * -----------------------------------------------------------------------------
 */

/**
 * 8.1 $LANDING
 * -----------------------------------------------------------------------------
 */

.landing-container {
  background-color: $jade;
}



.landing-title-container {
  position: absolute;
  top: 50%;
  left: 50%;

  h1 {
    color: $gold;
    line-height: 1;
  }

  .landing-logo {
    font-size: 30rem;
  }
  .landing-title {
    font-size: 4rem;

  }
}

.confucius-container {
  background-color: #7E4D55;
}

.qin-container {
  background-color: #111;
}

.qin-title {
  color: $gold;
}


.roc-container {
  background-color: $rocRed;
}


.nippon-container {
  background-color: #FFF;
}

.prc-container {
  background-color: $prcRed;
}

.prc-title {
  color: $prcYellow;
}

/**
 * 9.0 $FOOTER
 * -----------------------------------------------------------------------------
 */



/**
 * 10.0 $META
 * -----------------------------------------------------------------------------
 */
